Node-red-flow.json
[{"id":"d01bb172.773578","type":"visual-recognition-v3","z":"153ea7c2.ae7598","name":"","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":1458,"y":658,"wires":[["c5865cf3.f1e788"]]},{"id":"e8addb2a.bf8038","type":"http response","z":"153ea7c2.ae7598","name":"HTTP Response","statusCode":"","headers":{},"x":1967,"y":540,"wires":[]},{"id":"ecda1fc6.b64958","type":"switch","z":"153ea7c2.ae7598","name":"Check image param","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":650,"y":537,"wires":[["5d732dbd.c911b4"],["ce2edb36.c39758"]]},{"id":"9689cfce.8a905","type":"template","z":"153ea7c2.ae7598","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to my Image Recognition WebApp!</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://i.imgur.com/HjbPNcT.jpg\" height='250'/>\n        <img src=\"https://i.imgur.com/fpqnhuF.jpg\" height='250'/>\n        <img src=\"https://i.imgur.com/7VEgwOV.jpg\" height='250'/>\n        <img src=\"https://i.imgur.com/g736utt.jpg\" height='250'/>\n        <br>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        Image URL: <input type=\"text\" name=\"url\"/>&emsp;&emsp;\n        Model ID: <input type=\"text\" name=\"classifier_id\" value=\"default\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n        <br>\n        <br/>Custom Classifiers Associated w/ Watson VR API-KEY:<br/>\n        <table border='1'>\n        <thead><tr> <th>Name</th> <th>Model ID</th> <th>Status</th> </tr></thead>\n        {{#result.classifiers}}\n        <tr>\n            <td><b>{{name}}</b></td> <td><b>{{classifier_id}}</b></td> <td><i>{{status}}</i></td>\n        </tr>\n        {{/result.classifiers}}\n        </table>\n    </form>\n</body>\n</html>","x":1458,"y":536,"wires":[["e8addb2a.bf8038"]]},{"id":"c5865cf3.f1e788","type":"template","z":"153ea7c2.ae7598","name":"Report Default","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition Output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='300'/></p><br>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <br>\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":1687,"y":657,"wires":[["e8addb2a.bf8038"]]},{"id":"5675dff2.5ee89","type":"change","z":"153ea7c2.ae7598","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":657,"wires":[["d01bb172.773578"]]},{"id":"cee78bb9.0ca9a8","type":"http in","z":"153ea7c2.ae7598","name":"","url":"/imagem","method":"get","upload":false,"swaggerDoc":"","x":468,"y":449,"wires":[["ecda1fc6.b64958"]]},{"id":"145ec6ef.9daac1","type":"comment","z":"153ea7c2.ae7598","name":"ATENÇÃO!!! Configurar manualmente as duas VR Nodes com a API-KEY do serviço!","info":"","x":1188.36669921875,"y":307,"wires":[]},{"id":"ce2edb36.c39758","type":"switch","z":"153ea7c2.ae7598","name":"Check classifier param","property":"payload.classifier_id","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":741.5,"y":664.75,"wires":[["5675dff2.5ee89"],["237d959.ce46a6a"]]},{"id":"237d959.ce46a6a","type":"function","z":"153ea7c2.ae7598","name":"set classifier_id","func":"var cid = msg.payload.classifier_id\nmsg.params = []; \nmsg.params[\"classifier_ids\"] = cid; \nreturn msg;","outputs":1,"noerr":0,"x":1001,"y":746.75,"wires":[["5675dff2.5ee89"]]},{"id":"5d732dbd.c911b4","type":"visual-recognition-util-v3","z":"153ea7c2.ae7598","name":"retrieve custom classifiers list","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":914.36669921875,"y":531.25,"wires":[["9689cfce.8a905","ac78ac5c.a2d6b8"]]},{"id":"ac78ac5c.a2d6b8","type":"debug","z":"153ea7c2.ae7598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":1238.36669921875,"y":456.25,"wires":[]}]
